@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: #080f17;
  --color-secoundary-background: #121820;
  --color-primary-green: #c1f17e;
  --color-primary-gray: #181f26;
  --color-secoundary-gray: #232b33;
  --color-tertiary-gray: #303132;
  --color-forth-gray: #1e1e1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  background: #080f17;
  font-family: Arial, Helvetica, sans-serif;
}

button,
.btn {
  transition: background 0.2s, color 0.2s, border 0.2s;
  outline: none;
}

button:focus,
.btn:focus,
a:focus {
  outline: 2px solid #c1f17e;
  outline-offset: 2px;
}

a {
  transition: color 0.2s, background 0.2s, border 0.2s;
}

::-webkit-scrollbar {
  width: 8px;
  background: #181f26;
}
::-webkit-scrollbar-thumb {
  background: #232b33;
  border-radius: 4px;
}
